@model HotelBK.Models.Role

<form action="/Admin/Roles/CreateOrUpdate" method="post">
    <input type="hidden" name="RoleID" value="@Model.RoleID" />

    <div class="form-group mb-3">
        <label>Tên vai trò</label>
        <input type="text" name="RoleName" class="form-control" value="@Model.RoleName" required />
    </div>

    <button type="submit" class="btn btn-success">Lưu thay đổi</button>
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
</form>