@{
    ViewData["Title"] = "Register";
}
<div>
    <!-- Contact Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-4">
                <div>
                    <div class="wow fadeInUp" data-wow-delay="0.2s">
                        <form class="container mt-5 p-4 rounded-4 shadow" style="max-width: 500px; background-color: white;">
                            <h2 class="text-center mb-4">Đăng ký</h2>
                            <div class="mb-3">
                                <label for="fullname" class="form-label">Họ và Tên</label>
                                <input type="text" class="form-control rounded-3" id="fullname" placeholder="Nhập họ và tên">
                            </div>
                            <div class="mb-3">
                                <label for="email" class="form-label">Email</label>
                                <input type="email" class="form-control rounded-3" id="email" placeholder="Nhập email">
                            </div>
                            <div class="mb-3">
                                <label for="username" class="form-label">Tài khoản</label>
                                <input type="text" class="form-control rounded-3" id="username" placeholder="Nhập tài khoản">
                            </div>
                            <div class="mb-3">
                                <label for="password" class="form-label">Mật khẩu</label>
                                <input type="password" class="form-control rounded-3" id="password" placeholder="Nhập mật khẩu">
                            </div>
                            <div class="mb-3">
                                <label for="confirm-password" class="form-label">Xác nhận mật khẩu</label>
                                <input type="password" class="form-control rounded-3" id="confirm-password" placeholder="Nhập lại mật khẩu">
                            </div>
                            <button class="btn btn-primary w-100 py-2 rounded-3" type="submit">Đăng ký</button>
                            <p class="text-center mt-3">Bạn đã có tài khoản? <a href="Login" class="text-primary">Đăng nhập</a></p>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Contact End -->
    <!-- Newsletter Start -->
    <div class="container newsletter mt-5 wow fadeIn" data-wow-delay="0.1s">
        <div class="row justify-content-center">
            <div class="col-lg-10 border rounded p-1">
                <div class="border rounded text-center p-1">
                    <div class="bg-white rounded text-center p-5">
                        <h4 class="mb-4">Đăng ký bản tin của chúng tôi </h4>
                        <div class="position-relative mx-auto" style="max-width: 400px;">
                            <input class="form-control w-100 py-3 ps-4 pe-5" type="text" placeholder="Nhập email của bạn">
                            <button type="button" class="btn btn-primary py-2 px-3 position-absolute top-0 end-0 mt-2 me-2">Xác nhận</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Newsletter Start -->
</div>