@{
    ViewData["Title"] = "Booking";
}
<div>

    <!-- Booking Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                <h1 class="mb-5">Thanh toán </h1>
            </div>
            <div class="row g-5">
                <div class="col-lg-6">
                    <div class="row g-3">
                        <div class="room-item shadow rounded overflow-hidden">
                            <div class="d-flex justify-content-center">
                                <div class="position-relative">
                                    <img class="img-fluid" src="img/room-1.jpg" alt="">
                                </div>
                            </div>

                            <div class="p-4 mt-2">
                                <div class="d-flex justify-content-between mb-3">
                                    <h5 class="mb-0">Junior Suite</h5>
                                    <div class="ps-2">
                                        <small class="fa fa-star text-primary"></small>
                                        <small class="fa fa-star text-primary"></small>
                                        <small class="fa fa-star text-primary"></small>
                                        <small class="fa fa-star text-primary"></small>
                                        <small class="fa fa-star text-primary"></small>
                                    </div>
                                </div>
                                <div class="d-flex mb-3">
                                    <small class="border-end me-3 pe-3"><i class="fa fa-bed text-primary me-2"></i>3 Bed</small>
                                    <small class="border-end me-3 pe-3"><i class="fa fa-bath text-primary me-2"></i>2 Bath</small>
                                    <small><i class="fa fa-wifi text-primary me-2"></i>Wifi</small>
                                </div>
                                <p class="text-body mb-3">
                                    Erat ipsum justo amet duo et elitr dolor, est duo duo eos lorem sed diam stet diam sed stet lorem.
                                    Erat ipsum justo amet duo et elitr dolor, est duo duo eos lorem sed diam stet diam sed stet lorem.
                                    Erat ipsum justo amet duo et elitr dolor, est duo duo eos lorem sed diam stet diam sed stet lorem.
                                    Erat ipsum justo amet duo et elitr dolor, est duo duo eos lorem sed diam stet diam sed stet lorem.
                                    Erat ipsum justo amet duo et elitr dolor, est duo duo eos lorem sed diam stet diam sed stet lorem.
                                    Erat ipsum justo amet duo et elitr dolor, est duo duo eos lorem sed diam stet diam sed stet lorem.

                                </p>
                                <div class="d-flex justify-content-between">
                                    <a class="btn btn-sm btn-primary rounded py-2 px-4">$100/Night</a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="wow fadeInUp" data-wow-delay="0.2s">
                        <form>
                            <div class="room-item shadow rounded overflow-hidden" style="padding-bottom: 20px;">
                                <div class="customer-info">
                                    <h4 class="mb-0"> Tên khách hàng:</h4>
                                </div>
                                <div class="customer-info1">
                                    <h5 class="mb-0"> Số điện thoại:</h5>
                                </div>
                                <div class="row g-3" style="padding-left: 20px;">
                                    <div class="col-md-6">
                                        <div class="form-floating">
                                            <h6> Ngày bắt đầu:</h6>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-floating">
                                            <h6> Ngày kết thúc:</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- style="padding-left: 20px;padding-top: 30px;padding-bottom: 20px; -->
                            <div class="room-item shadow rounded overflow-hidden">
                                <div style="padding-left: 20px;padding-top: 30px;padding-bottom: 20px;padding-right: 20px;">
                                    <div>
                                        <label for="payment-method">Chọn phương thức thanh toán:</label><br>
                                        <input type="radio" id="cash" name="payment-method" value="cash" checked> Tiền mặt<br>
                                        <input type="radio" id="bank-transfer" name="payment-method" value="bank-transfer"> Chuyển khoản<br>
                                        <input type="radio" id="visa-mastercard" name="payment-method" value="visa-mastercard"> Visa/Mastercard<br>
                                    </div>

                                    <!-- Form chuyển khoản -->
                                    <div id="bank-transfer-form" style="display: none;">
                                        <h4>Thông tin chuyển khoản:</h4>
                                        <label for="bank">Chọn ngân hàng:</label>
                                        <div class="bank-select-container">
                                            <select id="bank" name="bank" class="form-control">
                                                <option value="vietin">VietinBank</option>
                                                <option value="mbank">MBBank</option>
                                                <option value="msb">MSB</option>
                                                <option value="bidv">BIDV</option>
                                            </select>
                                        </div><br>

                                        <label for="full-name">Họ và tên:</label>
                                        <input type="text" id="full-name" name="full-name" class="form-control"><br>

                                        <label for="account-number">Số tài khoản:</label>
                                        <input type="text" id="account-number" name="account-number" class="form-control"><br>
                                    </div>

                                    <!-- Form Visa/Mastercard -->
                                    <div id="visa-mastercard-form" style="display: none;">
                                        <h4>Thông tin thẻ:</h4>
                                        <label for="card-number">Số tài khoản:</label>
                                        <input type="text" id="card-number" name="card-number" class="form-control"><br>

                                        <label for="card-holder">Tên chủ thẻ:</label>
                                        <input type="text" id="card-holder" name="card-holder" class="form-control"><br>

                                        <label for="cvv">CVV:</label>
                                        <input type="text" id="cvv" name="cvv" class="form-control"><br>

                                        <label for="expiry-date">Ngày hết hạn (Tháng/Năm):</label>
                                        <div class="date-input-container">
                                            <input type="text" id="expiry-month" name="expiry-month" class="expiry-input" maxlength="2" placeholder="MM">
                                            <span>/</span>
                                            <input type="text" id="expiry-year" name="expiry-year" class="expiry-input" maxlength="4" placeholder="YYYY">
                                        </div><br>

                                        <label for="issue-date">Ngày phát hành (Tháng/Năm):</label>
                                        <div class="date-input-container">
                                            <input type="text" id="issue-month" name="issue-month" class="expiry-input" maxlength="2" placeholder="MM">
                                            <span>/</span>
                                            <input type="text" id="issue-year" name="issue-year" class="expiry-input" maxlength="4" placeholder="YYYY">
                                        </div><br>
                                    </div>


                                </div>

                            </div>
                            <div class="customer-info">
                                <h4 class="mb-0"> Tổng thanh toán:</h4>
                            </div>
                            <div class="row g-3" style="padding-top: 20px;">
                                <div class="col-12">
                                    <button class="btn btn-primary w-100 py-3" type="submit">Thanh toán</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Booking End -->
    <!-- Newsletter Start -->
    <div class="container newsletter mt-5 wow fadeIn" data-wow-delay="0.1s">
        <div class="row justify-content-center">
            <div class="col-lg-10 border rounded p-1">
                <div class="border rounded text-center p-1">
                    <div class="bg-white rounded text-center p-5">
                        <h4 class="mb-4">Đăng ký bản tin của chúng tôi </h4>
                        <div class="position-relative mx-auto" style="max-width: 400px;">
                            <input class="form-control w-100 py-3 ps-4 pe-5" type="text" placeholder="Nhập email của bạn">
                            <button type="button" class="btn btn-primary py-2 px-3 position-absolute top-0 end-0 mt-2 me-2">Xác nhận</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Newsletter Start -->

</div>